.users {
    padding: 60px 0;
    background: #90c72a;
}

.users__screens {
    width: 604px;
    float: right;
}

.users__screens .image {
    margin: 0 0 18px 18px;
}

.users__description {
    color: #fff;
}
