.download {
    text-align: center;
    background: #16b1d4;
}

.download__how {
    padding: 10px 0 12px;

    font-size: 28px;
    line-height: 134px;

    background: url(download__how.png) no-repeat 50%;
}

.download .button {
    width: 276px;
}
