.header {
    line-height: 50px;
    color: #16b1d4;
    background: #006191;
}

.header .section__inner {
    padding-left: 46px;
    background: url(header.png) no-repeat 0 50%;
}

.header .social {
    float: right;
}
