.introduction {
    background: #16b1d4 url(introduction.jpg);
}

.introduction .section__inner {
    position: relative;

    padding-top: 16px;
    padding-bottom: 60px;
    background: url(introduction__pointer.png) no-repeat 694px 68px;
}

.introduction__slogan {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 16px;
    padding: 30px 142px 30px 48px;
    color: #532100;
    font-style: italic;
    background: url(introduction__slogan.png) no-repeat;
}

.introduction__em {
    color: #930;
}

.introduction__download {
    position: absolute;

    top: 460px;
    right: 10px;
}
