.description {
    padding: 34px 0 46px;
    background: #9addec url(description.jpg);
}

.description__main {
    font-size: 22px;
    line-height: 26px;
}

.description__text {
    width: 651px;
    line-height: 22px;
}

.description__text .list {
    margin-bottom: 68px;
}

.description .carousel {
    height: 700px;
    margin-right: 22px;
}

.description .carousel:before {
    background: linear-gradient(to bottom, #9addec 0%, transparent 100%);
}

.description .carousel:after {
    background: linear-gradient(to bottom, transparent 0%, #9addec 100%);
}

.description .bx-wrapper .bx-prev,
.description .bx-wrapper .bx-prev:hover,
.description .bx-wrapper .bx-prev:focus {
    top: 10px;
    background: url(carousel__up.png) no-repeat 50%;
}

.description .bx-wrapper .bx-next,
.description .bx-wrapper .bx-next:hover,
.description .bx-wrapper .bx-next:focus {
    top: 654px;
    background: url(carousel__down.png) no-repeat 50%;
}
