.why {
    padding: 18px 0;

    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #512c00;

    background: #feeb81 url(why.png) no-repeat 50%;
}

.why .section__inner {
    width: 600px;
}
